<header class="encabezado h-48px flex justify-between shadow bg-white text-gray-700">
    <div class="contenedor flex items-center pl-4">

            <img src="images/fire.svg" alt="company logo" class="logo h-15 w-10 mr-2">
            <a href="/" class="titulo text-24px font-semibold text-gray-900 uppercase">Metas App</a>
        
    </div>
    <nav>
        <a href="/profile" class="vinculo flex items-center px-4 h-15 hover:bg-gray-200">
            <img src="images/user.svg" alt="user logo" class="perfil h-6 w-6">
        </a>
    </nav>

</header>